{% extends '_base.html' %}

{% block page_title %}<title>Camera Monitoring</title>{% endblock page_title %}

{% block page_sidebar %}
<div class="col-sm-3 col-md-2 sidebar">
    <ul class="nav nav-sidebar">
        <li><a href="">Dashboard</a></li>
        <li><a href="{% url 'index' %}">Monitoring</a></li>
        <li class="active"><a href="{% url 'camera' %}">&nbsp;&nbsp;&nbsp;&nbsp;Camera <span class="sr-only">(current)</span></a></li>
        <li><a href="{% url 'temperature' %}">&nbsp;&nbsp;&nbsp;&nbsp;Temperature</a></li>
        <li><a href="{% url 'humidity' %}">&nbsp;&nbsp;&nbsp;&nbsp;Humidity</a></li>
        <li><a href="#">Alerts</a></li>
        <li><a href="#">&nbsp;&nbsp;&nbsp;&nbsp;Email</a></li>
        <li><a href="#">&nbsp;&nbsp;&nbsp;&nbsp;SMS</a></li>
        <li><a href="#">Data</a></li>
    </ul>
    <ul class="nav nav-sidebar">
        <li><a href="{% url 'settings' %}">Settings</a></li>
        <li><a href="/admin-only/">Admin</a></li>
    </ul>
</div>
{% endblock page_sidebar %}

{% block page_content %}
<div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
    <h1 class="page-header">Camera Monitoring</h1>

    <div class="row placeholders">
        <div class="col-xs-6 col-sm-3 placeholder">
            <img src="data:image/gif;base64,R0lGODlhAQABAIAAAHd3dwAAACH5BAAAAAAALAAAAAABAAEAAAICRAEAOw==" width="200" height="200" class="img-responsive" alt="Generic placeholder thumbnail">
            <h4>Label</h4>
            <span class="text-muted">Something else</span>
        </div>
        <div class="col-xs-6 col-sm-3 placeholder">
            <img src="data:image/gif;base64,R0lGODlhAQABAIAAAHd3dwAAACH5BAAAAAAALAAAAAABAAEAAAICRAEAOw==" width="200" height="200" class="img-responsive" alt="Generic placeholder thumbnail">
            <h4>Label</h4>
            <span class="text-muted">Something else</span>
        </div>
        <div class="col-xs-6 col-sm-3 placeholder">
            <img src="data:image/gif;base64,R0lGODlhAQABAIAAAHd3dwAAACH5BAAAAAAALAAAAAABAAEAAAICRAEAOw==" width="200" height="200" class="img-responsive" alt="Generic placeholder thumbnail">
            <h4>Label</h4>
            <span class="text-muted">Something else</span>
        </div>
        <div class="col-xs-6 col-sm-3 placeholder">
            <img src="data:image/gif;base64,R0lGODlhAQABAIAAAHd3dwAAACH5BAAAAAAALAAAAAABAAEAAAICRAEAOw==" width="200" height="200" class="img-responsive" alt="Generic placeholder thumbnail">
            <h4>Label</h4>
            <span class="text-muted">Something else</span>
        </div>
    </div>

    <h2 class="sub-header">Section title</h2>
    <div class="table-responsive">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>#</th>
                    <th>Header</th>
                    <th>Header</th>
                    <th>Header</th>
                    <th>Header</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>1,001</td>
                    <td>Lorem</td>
                    <td>ipsum</td>
                    <td>dolor</td>
                    <td>sit</td>
                </tr>
                <tr>
                    <td>1,002</td>
                    <td>amet</td>
                    <td>consectetur</td>
                    <td>adipiscing</td>
                    <td>elit</td>
                </tr>
                <tr>
                    <td>1,003</td>
                    <td>Integer</td>
                    <td>nec</td>
                    <td>odio</td>
                    <td>Praesent</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
{% endblock page_content %}
